.ticket-card {
    background: #ffcc00;
    border-radius: 10px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

.ticket-header {
    background:rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ticket-body {
    padding: 15px;
    background: white;
}

.ticket-destination {
    text-align: center;
    font-weight: bold;
    color:rgb(0, 0, 0);
}

.ticket-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 15px;
}

.ticket-info p {
    margin: 0;
    color: #000;
}

.label {
    font-weight: bold;
    color: #555;
    font-size: 14px;
}

.ticket-footer {
    background:rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
